<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <style>
    h1 {text-align: center;}
    div {text-align: center;}
    </style>

</head>

<body style="background-color:powderblue;">
 <div class="login">
	<h1>Prediction  of Tempreture and Humidity </h1>
  <br>
  <br>
  <br>
        <br>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_TC') }}"method="post">
    	<input type="text" name="value" placeholder="Enter the value" required="required" />
        <br>
        <br>
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>

 
   {{ prediction_text_tc }}

   <br>
   <br>
   {{ prediction_text_hum }}
</div>



</body>
</html>